<input type="checkbox" id="click" />
<label for="click">
  <i class="fab fa-facebook-messenger"></i>
  <i class="fas fa-times"></i>
</label>

<div class="wrapper">
  <div class="head-text">Chat with us - Online</div>

  <div class="chat-box">
    <div class="desc-text">
      Please provide us with these details so we may assist you better.
    </div>
    <form action="#">
      <div class="field">
        <input type="text" placeholder="Your Name" required />
      </div>
      <div class="field">
        <input type="text" placeholder="Email Address" required />
      </div>
      <div class="field">
        <button type="submit">Start Chat</button>
      </div>
    </form>
  </div>
</div>

<div #sidepanel class="sidepanel">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<button class="openbtn" (click)="openNav()">&#9776; Toggle Sidepanel</button>
<h2>Collapsed Sidepanel</h2>
<p>Content...</p>
